<!--
  Generated template for the MoreImages component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Add More Images
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>Choose more images to upload:</ion-item>
    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
    </ion-card>
  <button ion-button [disabled]="!file" (click)="upload()" color="danger">Save</button>
</ion-content>
