<!--
  Generated template for the ResetModal component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-content padding>
  <button ion-button (click)="dismiss()" color= "danger">Cancel</button>
  <h2>Enter email address for password reset</h2>
  <ion-input type = "email" [(ngModel)] = "email" placeholder = "Type email here"></ion-input>
  <button ion-button (click)="passwordReset()">Send password reset email</button>

</ion-content>
