<!--
  Generated template for the NameEditModal component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Section Name
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-label floating>Enter/ Edit your information:</ion-label>
      <ion-input [(ngModel)]="name" placeholder= "Enter name">
      </ion-input >
    </ion-item>
    <button ion-button [disabled]="name.length ==0" (click)="save()" color="danger">
      Save
    </button>

  </ion-card>
</ion-content>
