<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clinical Information</ion-title>
  </ion-navbar>
  <div *ngIf ="this.auth">
    <button ion-button item-right (click)="publishData()">Publish</button>
    <button ion-button item-right color="danger" (click)="localSave()">Save Local Data</button>
    <button ion-button item-right color = "secondary" (click)="localLoad()">Load Local Data</button>
  </div>
</ion-header>

<ion-content padding>
  <!-- <ion-avatar item-left>
         <lazy-img src="https://scontent-mia1-1.xx.fbcdn.net/v/l/t1.0-9/14212147_1643498722627488_5155525986953317338_n.png?oh=5183e0cdea8c6bbef80e1a1a86b2d366&oe=586155AB"></lazy-img>
      </ion-avatar> -->
  <p>
    Click the name of the item to view more details
  </p>
  <ion-list>
    <ion-item *ngFor="let info of clinicalListData">
      <button ion-button (click)="moveClinUp(info)" *ngIf ="this.auth">
        <ion-icon name="arrow-dropup" color="light"></ion-icon>
      </button>
      <button ion-button item-left  (click)="moveClinDown(info)" *ngIf ="this.auth">
        <ion-icon name="arrow-dropdown" color="light"></ion-icon>
      </button>
      <span (click)="showDetail(info)">{{info.title}}</span>
      <button (click)="edit(info)" ion-button item-right color="secondary" *ngIf ="this.auth">
        <ion-icon name="create">
          Edit Name</ion-icon>
      </button>
      <button (click)="createNew(info)" ion-button item-right color="secondary" *ngIf ="this.auth">
        <ion-icon name="add-circle">
          New</ion-icon>
      </button>

      <button (click)="delete(info)" ion-button item-right color="danger" *ngIf ="this.auth">
        <ion-icon name="trash">
          Delete</ion-icon>
      </button>

    </ion-item>
  </ion-list>

</ion-content>
