<!--
  Generated template for the DepartmentDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Department Details - {{pageTitle.group}}</ion-title>

  </ion-navbar>
<button ion-button item-right (click)="publishDetails(detailObject)">Publish</button>
</ion-header>

<ion-content padding *ngIf = "!detailObject.image" >
  <ion-list >
    <ion-item *ngFor="let data of detailObject" text-wrap>
      <button ion-button item-left (click)="moveUp(data)">
        <ion-icon name="arrow-dropup"></ion-icon>
      </button>

      <button (click)="moveDown(data)" ion-button item-left>
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>

      <h2 *ngIf="data.type == 'title'">
        <u>{{data.detail}}</u>
      </h2>
      <h3 *ngIf="data.type == 'subtitle'">{{data.detail}}</h3>
      <h3 *ngIf="data.type == 'heading'">
        <strong>{{data.detail}}</strong>
      </h3>
      <h3 *ngIf="data.type == 'important'">
        <strong><u>{{data.detail}}</u></strong>
      </h3>
      <p *ngIf="data.type == 'text'">{{data.detail}}</p>
      <p *ngIf="data.type == 'list'">-{{data.detail}}</p>

      <button (click)="edit(data)" ion-button item-right color="secondary" floating>
        <ion-icon  name="create"> Edit</ion-icon>
      </button>

      <button (click)="newItem(data)" ion-button item-right color="light">
        <ion-icon  name="add-circle"> New</ion-icon>
      </button>

      <button (click)="delete(data)" ion-button item-right color="danger">
        <ion-icon  name="trash"> Delete</ion-icon>
      </button>



    </ion-item>

  </ion-list>
</ion-content>
<ion-content *ngIf="this.detailObject.image">
  <button ion-button (click)="upLoadMoreImages(this.detailObject)">More Images?</button>
  <div *ngFor ="let picture of this.detailObject.image">
    <img [src]="picture" />      
  </div>
</ion-content>
