<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>UserPage: {{currentUser.email}}</ion-title>

  </ion-navbar>

</ion-header>
<ion-content >
  <h3 *ngIf="!this.currentUser.admin" padding>This area is for Data Administrators only</h3>
</ion-content>

<ion-content padding *ngIf="this.currentUser.admin">
<ion-card padding>
  <h1>You are an administrator and are able to:</h1>
  <h2>-sign up new user accounts</h2>
  <h2>-add new specialty databases</h2>
</ion-card>
  <ion-card padding>
    <ion-list>
      <h3>Specialties</h3>
      <button ion-item *ngFor="let specialty of specialties" (click)="selectSpecialty(specialty)">
        {{specialty}}
      </button >
    </ion-list>
    <div>
      <ion-input [(ngModel)]="newSpecName" placeholder="New specialty name"></ion-input>
      <button ion-button (click)="addSpecialty()" [disabled]="checking" color="secondary">Add Specialty</button>
    </div>

  </ion-card>

  <h2>
    Sign up new user
  </h2>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    <ion-item>
      <h3>Current Specialty:</h3>
      <h2>{{baseSpeciality}}</h2>
    </ion-item>
    <button ion-button medium type="submit">
      Create an Account
    </button>
  </form>

</ion-content>
