<!--
  Generated template for the ClinicalDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{detailObject.title}}</ion-title>

  </ion-navbar>
  <button *ngIf ="!this.detailObject.image && this.auth" ion-button item-right (click)="localSave()" >Local Save</button>
  <button *ngIf="this.detailObject.image && this.auth" ion-button end
  (click)="upLoadMoreImages()"
  color="secondary" >More Images?</button>

</ion-header>

<ion-content padding *ngIf="!detailObject.image">
  <ion-item *ngIf ="this.auth && !(this.detailObject.image || this.detailObject.picture)">
    <ion-label>Edit title (no image yet)</ion-label>
    <ion-input [(ngModel)]="this.detailObject.title"></ion-input>
  </ion-item>
  <h3>Picture</h3>
  <button icon-right ion-button small (click)="editPicture()" *ngIf ="this.auth">
    Edit
    <ion-icon item-right name="create"></ion-icon>
  </button>
  <button *ngIf="detailObject.picture && this.auth" icon-right ion-button small (click)="deletePicture()" color="danger">
    Delete Image
    <ion-icon item-right name="trash"></ion-icon>
  </button>
  <img [src]="detailObject.picture" *ngIf="detailObject.picture"/>

  <h4>Summary
    <button icon-right ion-button small (click)="editItem('summary')" *ngIf ="this.auth">
      Edit
      <ion-icon item-right name="create"></ion-icon>
    </button>
  </h4>
  <p>{{detailObject.summary}}</p>
  <h4>Symptoms
    <button icon-right ion-button small (click)="editItem('symptoms')" *ngIf ="this.auth">
      Edit
      <ion-icon item-right name="create"></ion-icon>
    </button>
  </h4>

  <div *ngFor="let data of detailObject.symptoms">
    <p>
      {{data}}
    </p>

  </div>
  <h4>Signs
    <button icon-right ion-button small (click)="editItem('signs')" *ngIf ="this.auth">
      Edit
      <ion-icon item-right name="create"></ion-icon>
    </button>

  </h4>
  <p *ngFor="let data of detailObject.signs">{{data}}</p>
  <h4>Action
    <button icon-right ion-button small (click)="editItem('required')" *ngIf ="this.auth">
      Edit
      <ion-icon item-right name="create"></ion-icon>
    </button>
  </h4>
  <p *ngFor="let data of detailObject.required">{{data}}</p>
  <h4>Admit
    <button icon-right ion-button small (click)="editItem('admit')" *ngIf ="this.auth">
      Edit
      <ion-icon item-right name="create"></ion-icon>
    </button>
  </h4>
  <p *ngFor="let data of detailObject.admit">{{data}}</p>
  <h4>Red Flags
    <button icon-right ion-button small (click)="editItem('admit')" *ngIf ="this.auth">
      Edit
      <ion-icon item-right name="create"></ion-icon>
    </button>
  </h4>
  <p *ngFor="let data of detailObject.flags">{{data}}</p>

</ion-content>
<ion-content padding *ngIf="detailObject.image">

  <div *ngFor="let picture of this.detailObject.image">
    <img [src]="picture"/>
  </div>
</ion-content>
